.sidebar-toggler {
  background: transparent;
  border: 0;
}
.cart{
  position: relative;
}
.cart-count{
    background-color: white;
    color: darkblue;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    position: absolute;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    top: 0;
    right: -1px;
    /* border: 1px solid black; */
}