<div class="container-fluid">
  <div class="g-2 row row-cols-5">
    <div *ngFor="let product of products" class="col">
        <div class="card">
            <img src="{{ product.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ product.title | characterLimit:15 }}</h5>
              <p class="card-text">{{ product.description | characterLimit:80 }}</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>

        </div>
    </div>
  </div>

</div>
