<div class="products-wrap container-fluid">
  <div class="g-2 row row-cols-5">
    <div *ngFor="let product of products" class="col">
        <a [routerLink]="['/product', product.id]"  class="card">
            <img src="{{ product.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ product.title | characterLimit:15 }}</h5>
              <p class="card-text">{{ product.description | characterLimit:80 }}</p>
              <p>
                <fa-icon [icon]="faIndianRupeeSign"></fa-icon>{{ product.price }}
              </p>
              <app-star-rating [rating]="4"></app-star-rating>

              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>

        </a>
    </div>
  </div>

</div>
