.cart-list{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 20px;
}
.cart-item img{
    object-fit: contain;
}

.cart-item-quantity label {
    background-color: #d5caca98;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 0 5px;
    height: 38px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
